* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  background: rgb(3, 10, 26);
  text-align: center;
}

.quote {
  margin: auto;
  width: 100%;
  max-width: 400px;
  min-height: 180px;
  padding: 30px;
  background: #333;
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: #fff;
  font-size: 17px;
  word-wrap: break-word;
}

p:last-of-type {
  margin: 10px 0;
}

.btn {
  border: none;
  outline: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  color: #fff;
  width: 80px;
  padding: 7px 0;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 2000ms ease-in-out;
}

.btn:hover {
  background: blue;
}
